In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import seaborn as sns

In [3]:
df= pd.read_csv("testmeal.csv")

In [4]:
df

,Unnamed: 0,Unnamed: 1,Meal_Id,Name,catagory,description,Veg_Non,Nutrient,Diet,diabeties,heart_disease,hypertension
0,0,0,meal_id1,summer squash salad ...,salad,"white balsamic vinegar, lemon juice, lemon rin...",veg,fiber,alkaline_diet low_fat_diet ketogenic_diet low_...,1,0,1
1,1,1,meal_id2,chicken minced salad ...,salad,"olive oil, chicken mince, garlic (minced), oni...",non-veg,fiber,low_fat_diet low_carb_diet ketogenic_diet low_...,0,0,1
2,2,2,meal_id3,sweet chilli almonds ...,chilli,"almonds whole, egg white, curry leaves, salt, ...",veg,vitamin_a,alkaline_diet low_fat_diet paleo_diet Mediterr...,0,1,1
3,3,3,meal_id4,tricolour salad ...,salad,"vinegar, honey/sugar, soy sauce, salt, garlic ...",veg,fiber,low_fat_diet ketogenic_diet low_sodium_diet hi...,0,0,1
4,4,6,meal_id7,chocolate nero cookies ...,cookie,"almonds, eggs, granulated sugar, bittersweet c...",veg,magnesium,high_protien_diet high_fiber_diet ketogenic_di...,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
310,310,506,meal_id304,rice ...,rice,riety of rice. ...,veg,carbohydrates,high_protien_diet vegan_diet dash_diet ketogen...,1,0,0
311,311,508,meal_id306,banana chips ...,banana,r dried slices of bananas (fruits of herbaceou...,veg,magnesium,alkaline_diet high_protien_diet vegan_diet hig...,0,0,1
312,312,509,meal_id307,bhurji- egg ...,egg,"made using indian spices, onion, tomatoes, gre...",non-veg,vitamin_a,low_sodium_diet high_protien_diet low_fat_diet...,1,0,1
313,313,510,meal_id308,flattened rice / pohe ...,rice,"ible, dehusked rice which is flattened into fl...",veg,carbohydrates,alkaline_diet low_fat_diet ketogenic_diet vega...,1,1,0
314,314,511,meal_id309,puffed rice ...,rice,grain made from rice; usually made by heating ...,veg,carbohydrates,high_protien_diet vegan_diet dash_diet ketogen...,1,0,0

In [5]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 1', 'Meal_Id'], inplace=True,axis=1)

In [6]:
df

,Name,catagory,description,Veg_Non,Nutrient,Diet,diabeties,heart_disease,hypertension
0,summer squash salad ...,salad,"white balsamic vinegar, lemon juice, lemon rin...",veg,fiber,alkaline_diet low_fat_diet ketogenic_diet low_...,1,0,1
1,chicken minced salad ...,salad,"olive oil, chicken mince, garlic (minced), oni...",non-veg,fiber,low_fat_diet low_carb_diet ketogenic_diet low_...,0,0,1
2,sweet chilli almonds ...,chilli,"almonds whole, egg white, curry leaves, salt, ...",veg,vitamin_a,alkaline_diet low_fat_diet paleo_diet Mediterr...,0,1,1
3,tricolour salad ...,salad,"vinegar, honey/sugar, soy sauce, salt, garlic ...",veg,fiber,low_fat_diet ketogenic_diet low_sodium_diet hi...,0,0,1
4,chocolate nero cookies ...,cookie,"almonds, eggs, granulated sugar, bittersweet c...",veg,magnesium,high_protien_diet high_fiber_diet ketogenic_di...,0,1,1
...,...,...,...,...,...,...,...,...,...
310,rice ...,rice,riety of rice. ...,veg,carbohydrates,high_protien_diet vegan_diet dash_diet ketogen...,1,0,0
311,banana chips ...,banana,r dried slices of bananas (fruits of herbaceou...,veg,magnesium,alkaline_diet high_protien_diet vegan_diet hig...,0,0,1
312,bhurji- egg ...,egg,"made using indian spices, onion, tomatoes, gre...",non-veg,vitamin_a,low_sodium_diet high_protien_diet low_fat_diet...,1,0,1
313,flattened rice / pohe ...,rice,"ible, dehusked rice which is flattened into fl...",veg,carbohydrates,alkaline_diet low_fat_diet ketogenic_diet vega...,1,1,0
314,puffed rice ...,rice,grain made from rice; usually made by heating ...,veg,carbohydrates,high_protien_diet vegan_diet dash_diet ketogen...,1,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           315 non-null    object
 1   catagory       315 non-null    object
 2   description    315 non-null    object
 3   Veg_Non        315 non-null    object
 4   Nutrient       315 non-null    object
 5   Diet           315 non-null    object
 6   diabeties      315 non-null    int64
 7   heart_disease  315 non-null    int64
 8   hypertension   315 non-null    int64
dtypes: int64(3), object(6)
memory usage: 22.3+ KB

In [8]:
df.describe()

        diabeties  heart_disease  hypertension
count  315.000000     315.000000    315.000000
mean     0.511111       0.501587      0.698413
std      0.500672       0.500793      0.459677
min      0.000000       0.000000      0.000000
25%      0.000000       0.000000      0.000000
50%      1.000000       1.000000      1.000000
75%      1.000000       1.000000      1.000000
max      1.000000       1.000000      1.000000

In [9]:
df['low pressure']=np.where(df["hypertension"]==0,1,0)

In [10]:
df

,Name,catagory,description,Veg_Non,Nutrient,Diet,diabeties,heart_disease,hypertension,low pressure
0,summer squash salad ...,salad,"white balsamic vinegar, lemon juice, lemon rin...",veg,fiber,alkaline_diet low_fat_diet ketogenic_diet low_...,1,0,1,0
1,chicken minced salad ...,salad,"olive oil, chicken mince, garlic (minced), oni...",non-veg,fiber,low_fat_diet low_carb_diet ketogenic_diet low_...,0,0,1,0
2,sweet chilli almonds ...,chilli,"almonds whole, egg white, curry leaves, salt, ...",veg,vitamin_a,alkaline_diet low_fat_diet paleo_diet Mediterr...,0,1,1,0
3,tricolour salad ...,salad,"vinegar, honey/sugar, soy sauce, salt, garlic ...",veg,fiber,low_fat_diet ketogenic_diet low_sodium_diet hi...,0,0,1,0
4,chocolate nero cookies ...,cookie,"almonds, eggs, granulated sugar, bittersweet c...",veg,magnesium,high_protien_diet high_fiber_diet ketogenic_di...,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
310,rice ...,rice,riety of rice. ...,veg,carbohydrates,high_protien_diet vegan_diet dash_diet ketogen...,1,0,0,1
311,banana chips ...,banana,r dried slices of bananas (fruits of herbaceou...,veg,magnesium,alkaline_diet high_protien_diet vegan_diet hig...,0,0,1,0
312,bhurji- egg ...,egg,"made using indian spices, onion, tomatoes, gre...",non-veg,vitamin_a,low_sodium_diet high_protien_diet low_fat_diet...,1,0,1,0
313,flattened rice / pohe ...,rice,"ible, dehusked rice which is flattened into fl...",veg,carbohydrates,alkaline_diet low_fat_diet ketogenic_diet vega...,1,1,0,1
314,puffed rice ...,rice,grain made from rice; usually made by heating ...,veg,carbohydrates,high_protien_diet vegan_diet dash_diet ketogen...,1,0,0,1

In [11]:
df=df.drop_duplicates()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224 entries, 0 to 314
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           224 non-null    object
 1   catagory       224 non-null    object
 2   description    224 non-null    object
 3   Veg_Non        224 non-null    object
 4   Nutrient       224 non-null    object
 5   Diet           224 non-null    object
 6   diabeties      224 non-null    int64
 7   heart_disease  224 non-null    int64
 8   hypertension   224 non-null    int64
 9   low pressure   224 non-null    int32
dtypes: int32(1), int64(3), object(6)
memory usage: 18.4+ KB

In [13]:
df['Veg_Non'].unique()

array(['veg     ', 'non-veg '], dtype=object)

In [14]:
df=df.drop('Nutrient',axis=1)

In [15]:
df=df.drop('Diet',axis=1)

In [16]:
df.head()

,Name,catagory,description,Veg_Non,diabeties,heart_disease,hypertension,low pressure
0,summer squash salad ...,salad,"white balsamic vinegar, lemon juice, lemon rin...",veg,1,0,1,0
1,chicken minced salad ...,salad,"olive oil, chicken mince, garlic (minced), oni...",non-veg,0,0,1,0
2,sweet chilli almonds ...,chilli,"almonds whole, egg white, curry leaves, salt, ...",veg,0,1,1,0
3,tricolour salad ...,salad,"vinegar, honey/sugar, soy sauce, salt, garlic ...",veg,0,0,1,0
4,chocolate nero cookies ...,cookie,"almonds, eggs, granulated sugar, bittersweet c...",veg,0,1,1,0

In [17]:
df.head()

,Name,catagory,description,Veg_Non,diabeties,heart_disease,hypertension,low pressure
0,summer squash salad ...,salad,"white balsamic vinegar, lemon juice, lemon rin...",veg,1,0,1,0
1,chicken minced salad ...,salad,"olive oil, chicken mince, garlic (minced), oni...",non-veg,0,0,1,0
2,sweet chilli almonds ...,chilli,"almonds whole, egg white, curry leaves, salt, ...",veg,0,1,1,0
3,tricolour salad ...,salad,"vinegar, honey/sugar, soy sauce, salt, garlic ...",veg,0,0,1,0
4,chocolate nero cookies ...,cookie,"almonds, eggs, granulated sugar, bittersweet c...",veg,0,1,1,0

In [18]:

 
from sklearn import preprocessing 
  
# label_encoder object knows  
# how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['Veg_Non']= label_encoder.fit_transform(df['Veg_Non']) 
df

,Name,catagory,description,Veg_Non,diabeties,heart_disease,hypertension,low pressure
0,summer squash salad ...,salad,"white balsamic vinegar, lemon juice, lemon rin...",1,1,0,1,0
1,chicken minced salad ...,salad,"olive oil, chicken mince, garlic (minced), oni...",0,0,0,1,0
2,sweet chilli almonds ...,chilli,"almonds whole, egg white, curry leaves, salt, ...",1,0,1,1,0
3,tricolour salad ...,salad,"vinegar, honey/sugar, soy sauce, salt, garlic ...",1,0,0,1,0
4,chocolate nero cookies ...,cookie,"almonds, eggs, granulated sugar, bittersweet c...",1,0,1,1,0
...,...,...,...,...,...,...,...,...
310,rice ...,rice,riety of rice. ...,1,1,0,0,1
311,banana chips ...,banana,r dried slices of bananas (fruits of herbaceou...,1,0,0,1,0
312,bhurji- egg ...,egg,"made using indian spices, onion, tomatoes, gre...",0,1,0,1,0
313,flattened rice / pohe ...,rice,"ible, dehusked rice which is flattened into fl...",1,1,1,0,1
314,puffed rice ...,rice,grain made from rice; usually made by heating ...,1,1,0,0,1